.spinner{
    height: 100vh;
}
.wrapper img{
    object-fit:cover;
    height: 400px;
    
}
#wrapper{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 300px;
    .tuto__title{
        margin-bottom: 0px;
    }
    
}

#introduction{
    width: 25%;
    background: white;
    border-radius: 50%;
    position: relative;
    animation: balance 10.7s ease infinite;
}
#tuto{
    width: 25%;
}
.menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .menuTitle{
        width: 100%;
       justify-content: center;
       h2{
           margin-right: 60px;
       }
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
        
    }
}
#choix{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

#title h2{
    margin: 5px 0px 5px 35px;
}

.card{
    width: 200px;
    height: 250px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s infinite;
  }
   
  .card:hover{
   animation: flip 600ms forwards;
  }

@keyframes flip{
    0% { transform: rotateX(0deg);}
    50% {transform: rotateX(90deg);}
    100% {transform: rotateX(0deg);}
}
  

  @keyframes balance{
    from {left: 306px;}
    50%  {left: -200px;}
    to   {left: 306px;}
  }

  /*./dart-sass/sass sass/desktop.scss desktop.css --watch*/