.spinner{
    height: 100vh;
}

#wrapper{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

#introduction{
    width: 25%;
    background: white;
    border-radius: 50%;
}
#tuto{
    width: 25%;
}

#choix{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 200px;
    height: 250px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .card:hover{
    width: 150px; /* on affiche l'image au carré */
    height: 250px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }
  