/*FOOTER*/

footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px 0px;
    opacity: 0.8;
    h2{
        font-family: "Shrikhand","sans-serif";
        margin-left: 35px;
        font-size: 1.5rem;
    }
    li{
        list-style-type: none;
        margin-bottom: 10px;
        opacity: 0.9;
        a{
            text-decoration: none;
            color: white;
        }
    }
    i{
        margin-right: 10px;
    }
}