:root {
  --couleurPrimaire: #9356DC;
  --couleurSecondaire: #FF79DA;
  --couleurSecondaire: #99E2D0;
}

/*acceuil*/
body {
  font-family: "Roboto", "sans-serif";
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 150px;
  margin-bottom: 10px;
}
header input {
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(230, 225, 225, 0.979);
  border: #b3b2b2 1px solid;
  box-shadow: inset 0px 3px 3px #cfcece;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(231, 231, 231, 0.8);
  padding-bottom: 20px;
}
#introduction h2 {
  margin-bottom: 0px;
}
#introduction button {
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 25px;
  background: #ff79da;
  background: linear-gradient(171deg, #ff79da 12%, #9356dc 66%, #9356dc 100%);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
#introduction button:hover {
  transform: scale(1.15);
}

#tuto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#tuto li {
  background: #dbdbdb;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px 30px 15px 0px;
  list-style-type: none;
}
#tuto li .number {
  background: var(--couleurPrimaire);
  border-radius: 25px;
  margin-right: 30px;
  padding: 3px 7px;
  margin-left: -8px;
}
#tuto li i {
  color: grey;
  margin-right: 15px;
}

.title-card {
  width: 95%;
}

#choix {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choix a {
  text-decoration: none;
}
#choix .card {
  align-items: center;
  width: 350px;
  border: 0px black solid;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding-bottom: 15px;
}
#choix img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
}
#choix .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
}
#choix .card-content p {
  margin: 0px 0px 0px 5px;
  font-weight: bold;
}
#choix .card-content span {
  margin: 0px 0px 0px 5px;
}

footer {
  background-color: black;
  color: white;
  padding: 5px 0px;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  margin-left: 35px;
}
footer li {
  list-style-type: none;
  margin-bottom: 10px;
}

/*menu*/
.wrapper {
  margin: 0;
  padding: 0;
}
.wrapper img {
  width: 100%;
  height: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  border: solid 0px;
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
  margin-top: -30px;
  background-color: white;
  webkit-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
.menu .menuTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", "sans-serif";
  border-radius: 25px 25px 0px 0px;
}
/*animation*/
.heart path {
  fill: transparent;
  stroke: 10;
  stroke-dasharray: 105px;
  stroke-dashoffset: 105px;
  animation: anim 6s ease forwards;
}

@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}
.heart:hover path {
  cursor: pointer;
  animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 105;
  }
  80% {
    stroke-dashoffset: 210;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 210;
    fill: #ff79da;
  }
}
/*./dart-sass/sass sass/style.scss style.css --watch*/

/*# sourceMappingURL=style.css.map */
