:root {
  --couleurPrimaire: #9356DC;
  --couleurSecondaire: #FF79DA;
  --couleurtertiaire: #99E2D0;
}

/*acceuil*/
body {
  font-family: "Roboto", "sans-serif";
  margin: 0px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
}
header img {
  width: 150px;
  margin-bottom: 10px;
}
header input {
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(230, 225, 225, 0.979);
  border: #b3b2b2 1px solid;
  box-shadow: inset 0px 3px 3px #cfcece;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f0f0f0;
  padding-bottom: 50px;
}
#introduction h2 {
  margin-bottom: 0px;
}
#introduction button {
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 25px;
  border: 0;
  z-index: 0;
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 15%, #9356dc 66%, #9356dc 100%);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
#introduction button:hover {
  transform: scale(1.15);
}

#tuto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  justify-content: flex-start;
}
#tuto h2 {
  margin-left: 45px;
}
#tuto li {
  background: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 40px 20px 0px;
  list-style-type: none;
  font-weight: bold;
}
#tuto li .number {
  background: var(--couleurPrimaire);
  border-radius: 25px;
  margin-right: 30px;
  padding: 3px 7px;
  margin-left: -8px;
  color: white;
}
#tuto li i {
  color: grey;
  margin-right: 15px;
}

.title-card {
  width: 95%;
  margin-left: 10px;
}

#choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#choix a {
  text-decoration: none;
}
#choix .card {
  align-items: center;
  position: relative;
  width: 350px;
  border: 0px black solid;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding-bottom: 15px;
  background-color: white;
}
#choix img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 15px 15px 0px 0px;
}
#choix .new {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #8edfca;
  color: green;
}
#choix .new p {
  margin: 7px 10px;
}
#choix .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
}
#choix .card-content p {
  margin: 0px 0px 0px 5px;
  font-weight: bold;
}
#choix .card-content span {
  margin: 0px 0px 0px 5px;
}

/*menu*/
.wrapper {
  margin: 0;
  padding: 0;
}
.wrapper img {
  width: 100%;
  height: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  border: solid 0px;
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
  margin-top: -30px;
  background-color: #f0f0f0;
  -webkit-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
.menu .menuTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", "sans-serif";
  border-radius: 25px 25px 0px 0px;
}
.menu .plat {
  opacity: 0.8;
  margin-left: 20px;
}
.menu .element {
  display: flex;
  margin: 0px 10px 20px 10px;
  background-color: white;
  border: solid 0px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: -1px 2px 17px -6px #000000;
  box-shadow: -1px 2px 17px -6px #000000;
}
.menu .element .description {
  margin-bottom: 7px;
  width: 275px;
  margin-left: 10px;
}
.menu .element .description p {
  margin-bottom: 3px;
  font-weight: bold;
}
.menu .element .description span {
  opacity: 0.9;
}
.menu .element .price-check {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 50px;
  transition: all 500ms ease-in-out;
}
.menu .element .price-check .price {
  position: relative;
  margin-top: 10px;
  left: 40px;
}
.menu .element .price-check .check {
  display: flex;
  height: 65px;
  width: 40px;
  padding: 20px 0px 5px 15px;
  border: solid 0px;
  border-radius: 0 20px 20px 0;
  background-color: var(--couleurtertiaire);
  position: relative;
  left: 60px;
  transition: 2000ms;
}
.menu .element .price-check .check i {
  color: white;
}

.end-menu {
  text-align: center;
  margin-top: 30px;
}
.end-menu button {
  height: 50px;
  border: 0px;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px 0px;
  opacity: 0.8;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  margin-left: 35px;
  font-size: 1.5rem;
}
footer li {
  list-style-type: none;
  margin-bottom: 10px;
  opacity: 0.9;
}
footer i {
  margin-right: 10px;
}

/*LOADER*/
.section {
  background-color: #16a085;
  position: absolute;
  top: 0%;
  height: 800px;
  width: 100%;
  line-height: 700px;
  font-size: x-large;
  animation: disparition 4s forwards ease-in-out;
}

.loader {
  width: 50px;
  height: 50px;
  margin-left: 80px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.loader-bars:after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: grow 1s linear -0.5s infinite;
  animation: grow 1s linear -0.5s infinite;
}

.loader-bars:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: grow 1s linear infinite;
  animation: grow 1s linear infinite;
}

.loader-bars span {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: grow 1s linear -0.66s infinite;
  animation: grow 1s linear -0.66s infinite;
}

@keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
  }
}
@keyframes disparition {
  0% {
    -webkit-opacity: 1;
    z-index: 100;
  }
  80% {
    -webkit-opacity: 1;
    z-index: 100;
  }
  100% {
    -webkit-opacity: 0;
    display: none;
    z-index: -1;
  }
}
/*animation*/
.heart path {
  fill: transparent;
  stroke: 10;
  stroke-dasharray: 105px;
  stroke-dashoffset: 105px;
  animation: anim 6s ease forwards;
}

@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}
.heart:hover path {
  cursor: pointer;
  animation: animate-heart 2s linear forwards;
}

@-webkit-keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 105;
  }
  80% {
    stroke-dashoffset: 210;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 210;
    fill: #ff79da;
  }
}
.element:hover .price-check {
  transform: translate(-50px, 0);
}

/*loading

.test{
    width: 100%;
    height: 100vh;
    background-color: #4a6022c7;
    transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    z-index: 10;
    position: absolute;
}

.lds-hourglass {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    right: auto;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    z-index: 50;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: var(--couleurSecondaire) var(--couleurPrimaire);
    animation: lds-hourglass 3.2s ease forwards;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }*/
/*./dart-sass/sass sass/style.scss style.css --watch*/

/*# sourceMappingURL=style.css.map */
