button{
    height: 40px;
    width: 200px;
    color: white;
    border-radius: 25px; 
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 15%, rgba(147,86,220,1) 66%, rgba(147,86,220,1) 100%);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;   
    height: 50px;
    border: 0px;   
    &:hover{
        transform: scale(1.15);
    }
}